/* IWPAZ: Interface Web Pour Accéder à Zaulta
 * A Zaulta web interface
 * Copyright (C) 2017 Whidou <whidou@openmailbox.org>
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

html, body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2e3436;
    background-color: #fcaf3e;
}

#clear {
    font-size: 2em;
    line-height: .5em;
    cursor: pointer;
    transition: .2s;
}

#clear:hover {
    color: #fcaf3e;
}

#content {
    min-height: 100%;
    height: 100%;
    width: 75%;
    color: #2e3436;
    background-color: #eeeeec;
    margin: 0 0 0 25%;
    position: fixed;
    z-index: 0;
}

#copy {
    display: block;
    position: fixed;
    color: #fcaf3e;
    background-color: #ce5c00;
    padding: 1em;
    border-width: 0;
    right: 0;
    top: 0;
}

#copy:hover {
    color: #ce5c00;
    background-color: #fcaf3e;
}

#copy:focus {
    color: #ce5c00;
    background-color: #f57900;
}

.element {
    padding: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    transition: .2s;
}

.element:hover {
    background-color: #eeeeec;
    overflow: visible;
}

#menu {
    float: left;
    width: 25%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 3em 0 0 0;
    z-index: 1;
}

.menublock {
    padding: 1em 0 0 0;
    margin: 0;
}

#result {
    white-space: pre-wrap;
    border: none;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;
    background-color: inherit;
    resize: none;
    font-family: inherit;
}

#search {
    width: 25%;
    float: left;
    position: fixed;
    color: #f57900;
    background-color: #ce5c00;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    white-space: nowrap;
}

#searchfield {
    width: 80%;
    color: #fcaf3e;
    background-color: #ce5c00;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #f57900;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    transition: .2s;
}

#searchfield:hover {
    border-color: #fcaf3e;
}

.star {
    margin-right: 1em;
    color: #ce5c00;
    transition: .2s;
}

.star:hover {
    color: #f57900;
}

#title {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 5em;
}
