<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IWPAZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="title">IWPAZ</div>
</body>
</html>
