<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IWPAZ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='iwpaz.js') }}" defer="defer"></script>
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form id="search" action="#">
    <input id="searchfield" />
    <span id="clear" class="fa fa-times"></span>
</form>
<div id="menu">
    <div id="favourites" class="menublock">
    </div>
    <div class="menublock">
    {% for table in tables %}
        <div class="element"><span class="star fa fa-star-o"></span><span class="tablename">{{ table }}</span></div>
    {% endfor %}
    </div>
</div>
<div id="content">
    <textarea id="result">
    </textarea>
</div>
<button id="copy">
     <span class="fa fa-clipboard"></span>
</button>
</body>
</html>
